**/CMakeFiles/
**/cmake-build-debug
**/.idea
**/.cmake
**/CMakeCache.txt
project/.ninja_deps
project/.ninja_log
project/compile_commands.json
**/cmake_install.cmake

**LastTest.log

build/Makefile
build/src/Makefile
build/compile_commands.json
.vscode/settings.json
